<form name="partyForm" ng-submit="createParty(newParty)" novalidate>

    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Name</label>
            <input required ng-model="newParty.name">
        </md-input-container>
        <md-input-container flex>
            <label>Description</label>
            <input ng-model="newParty.description">
        </md-input-container>
        <md-input-container>
            <md-switch ng-model="newParty.public" aria-label="Switch 1">
                Public
            </md-switch>
        </md-input-container>
        <md-input-container>
            <md-button ng-disabled="partyForm.$invalid">
                Add
            </md-button>
        </md-input-container>
        <md-input-container>
            <md-button ng-click="removeAll()" class="md-raised md-primary">
                Remove All
            </md-button>
        </md-input-container>

    </div>

</form>